@font-face {
    font-family: Main; /* Гарнитура шрифта */
    src: url(fonts/urbe.ttf); /* Путь к файлу со шрифтом */
}
body > .navbar {
	top:0px;
    opacity: 0.9;
}

body{
	height: 92%;
	background-color: rgb(204, 204, 204)
}

body > .navbar .brand {
	padding-top: 7px ;
	padding-bottom: 2px;
 	font-family: Main !important;
 	font-size: 280%; 
 	font-weight: lighter !important;  
}

body >.container{
	margin-top: 50px;
	height: 95%;
}

body >.footer { 
	clear: both;
    padding: 10px 10px 10px;
    border-top: 1px solid rgb(229, 229, 229);
}

html{
	height: 100%;
}